.click-copy-wrapper {
  display: grid;
  justify-items: center;
}

.click-copy-wrapper > span {
  grid-row: 1;
  grid-column: 1;
}

.click-copy-hidden {
  visibility: hidden;
  pointer-events: none;
}

.click-copy {
  cursor: pointer;
  color: blueviolet;
  font-weight: bold;
}

.click-copy:hover {
  color: #a950fb;
}

.click-copy-copiado {
  color: green;
  font-weight: bold;
}

.clip-icon {
  padding-right: 10px;
}
